@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

body{
    font-size: 15px;
    background-color: hsl(0, 0%, 98%);
    text-align: center;
    height: 100vh;
    margin-bottom: 30px;
}

.boxs{
    width: 80%;
    margin: auto;
    margin-top: 30px;
    display: grid;
    grid-template-columns: auto auto auto;
}

.box{
    background-color: white;
    width: 340px;
    height: 220px;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0px 5px 10px 0px rgb(199, 198, 198);
    position: relative;
    text-align: left;
    padding: 20px;
    overflow: hidden;
}
h2{
    color: hsl(234, 12%, 34%);
}
h1{
    color: hsl(234, 12%, 34%);
    font-weight:bold;
    margin-top: -10px;
}
span{
    font-weight: 200;
}
p{
    margin: 10px 0;
    color:hsl(229, 6%, 66%);
}

img{
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.gaz{
    margin-bottom: 20px;
}

.box::before{
    content: "";
    position: absolute;
    height: 5px;
    width: 100%;
    left: 0;
    top: 0;
}

.gaz::before{
    background-color: hsl(0, 78%, 62%);   
}
.faz::before{
    background-color: hsl(34, 97%, 64%);   
}
.taz::before{
    background-color: hsl(212, 86%, 64%);   
}
.waz::before{
    background-color: hsl(180, 62%, 55%);   
}

@media (max-width: 500px) {
    .boxs{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    
}