@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Outfit, Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    background-color: hsl(212, 45%, 89%);
    height: 100vh;
    font-size: 15px;
}

.container {
    margin: auto;
    width: 360px;
}


.card {

    background-color: hsl(0, 0%, 100%);
    padding: 19px;
    border-radius: 7%;
    text-align: center;
    margin: 0 1em;
    display: block;
}


.image-profile {

    width: 100%;
    border-radius: 5%;
}

h2.omg {
    color: hsl(218, 44%, 22%);
    padding: 22px 15px;
}

p.wtf {
    color: hsl(220, 15%, 55%);
    padding: 0 25px 20px;
}

footer {
    position: relative;
    top: 98%;
    position: absolute;
    margin: auto;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}