body{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color:rgba(153, 152, 152, 0.349) ;
}
.cont{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(0, 0, 0, 0.753);
    border-radius: 10px;
    overflow: hidden;
    width: 500px;
    height: fit-content;
}

#display{
    width: 100%;
    padding: 20px;
    border: none;
    background-color: rgba(0, 0, 0, 0.541);
    font-size: 5rem;
    color: white;
}

.key{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    padding: 20px;
}


button{
    width: 100px;
    height: 100px;
    border: none;
    border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.514);
    color: white;
    font-size: 30px;
    cursor: pointer;
}

.orang{
    background-color: hsl(39, 85%, 49%);
}